.monaco-inspectorHoveringDecorator {
    background-color: #fcd34d66;
}

.monaco-jumpHintDecorator {
    @apply animate-pulse animate-duration-300;
    background-color: #fcd34d66;
    outline: 2px solid #fcd34d;
    outline-offset: 2px;
    border-radius: 4px;
}
